In [1]:
print("hello world")

hello world

In [1]:
name = "Python Learner"

print("Hello")

Hello

In [6]:
name = "Alice"
age = 25
print("My name is %s and I am %i years old" % (name, age))

My name is Alice and I am 25 years old

In [10]:
text = "Hello world"

print(text.upper())
print(text.lower())
print(text.title())

HELLO WORLD
hello world
Hello World

In [ ]:
age = 27
name = "Anmol Gurung"
print()

In [18]:
text = "  Hello, World!  "
print(text.find("    Hello,"))

-1

In [1]:
celsius = 25
fahrenheit = (celsius * 9/5) + 32
kelvin = celsius + 273

print(f"{celsius}C = {fahrenheit}F")

print(f"{celsius}C = ${kelvin}K")

25C = 77.0F
25C = $298K

In [3]:
first_name = "anmol"
last_name = "doe"
email = "anmolgurung1@gmail.com"

full_name = first_name.title() + " " + last_name.title()

user_name = email.lower()

print(f"First Name: {full_name}")
print(f"Username: {user_name}")

greeting  = f"Hello, {full_name}: Your email is {email}"
print(greeting)

First Name: Anmol Doe
Username: anmolgurung1@gmail.com
Hello, Anmol Doe: Your email is anmolgurung1@gmail.com

In [4]:
num1 = 10
num2 = 3.5
result1 = num1 + num2
result2 = num1 * num2
result3 = num1 / num2
print(f"{num1} + {num2} = {result1}")
print(f"{num1} * {num2} = {result2}")
print(f"{num1} / {num2} = {result3}")

10 + 3.5 = 13.5
10 * 3.5 = 35.0
10 / 3.5 = 2.857142857142857

In [14]:
a = 11.9
b = 3
print(a/b)

3.966666666666667

In [16]:
2**3+ 5**2

33

In [ ]:
15*2/3*4**2
15*2/3*16

160.0

In [23]:
5 // 2

2

In [26]:
x = 5 
x -= 2
print(x)

3