Introduction to Tuples

Explanation:
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [4]:
# Creating a tuples
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst = list()
print(type(lst))
tple = tuple()
print(type(tple))

<class 'list'>
<class 'tuple'>

In [6]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [7]:
ss = (1,2,3,4,5,6)
print(ss)
print(type(ss))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [8]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [9]:
mixed_tuple = (1, "Hello World", 3.14, True)

In [10]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [11]:
print(numbers[1])
print(numbers[-1])

2
6

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [13]:
numbers[::-1]
numbers[1:4]

(2, 3, 4)

In [14]:
# Tuples Operations

concatenation_tuple = numbers + mixed_tuple  # Concatenates the two tuples
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [15]:
3 * mixed_tuple # Or mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [16]:
## Immutable nature of Tuples

# Array is immutable
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Krish"


# But you cannot mutate tuples like this
# Most of the operations are same in tuple and list
# Tuples are immutable, meaning their elements cannot be changed once assigned
# tple[0] = 1 This will not work

[1, 2, 3, 4, 5]

In [20]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [21]:
# Packing and Unpacking tuple

packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
# Unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
# Unpackinng with *


numbers = 1, 2, 3, 4, 5, 6
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [30]:
# Nested Tuple

# Nested list
lst = [[1, 2, 3, 4], [6, 7, 8, 9], [1, "Hello", 1.14, "c"]]

print(lst[0][0:3])

[1, 2, 3]

In [33]:
lst = [[1, 2, 3, 4], [6, 7, 8, 9], (1, "Hello", 1.14, "c")]

print(lst[2][0:3])

(1, 'Hello', 1.14)

In [36]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

# Access the elements inside a tuple
print(nested_tuple)
print(nested_tuple[1][2])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
c

In [47]:
# Iterating over a nested tuple

# a = 'hello'
print(type(a))
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(f"{str(item):^10}", end=' ')
    print()

<class 'str'>
    1          2          3
    a          b          c
   True      False