Introduction to Tuples

Explanation:
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [ ]:
# Creating a tuples
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tple = tuple()
print(type(tple))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [5]:
ss = (1,2,3,4,5,6)
print(ss)
print(type(ss))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [6]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [ ]:
mixed_tuple = (1, "Hello World", 3.14, True)

In [8]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [10]:
print(numbers[1])
print(numbers[-1])

2
6

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [14]:
numbers[::-1]
numbers[1:4]

(2, 3, 4)

In [16]:
# Tuples Operations

concatenation_tuple = numbers + mixed_tuple  # Concatenates the two tuples
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [21]:
3 * mixed_tuple # Or mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
## Immutable nature of Tuples

# Array is immutable
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Krish"


# But you cannot mutate tuples like this
# Most of the operations are same in tuple and list