In [20]:
tple = tuple(x for x in range(1,11))
print(tple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
first_element = tple[0]
last_element = tple[-1]

middle_element = tple[len(tple) // 2 - 1 : len(tple) // 2 + 1] if len(tple) % 2 == 0 else tple[len(tple) // 2]

print(f"First Element: {first_element} \nLast Element: {last_element} \nMiddle Element(s): {middle_element}")

First Element: 1
Last Element: 10
Middle Element(s): (5, 6)

In [32]:
tple = tuple(x for x in range(1,11))

print(f"First three elements: {tple[:3]}")
print(f"Last three elements: {tple[-3:]}")
print(f"Elements from index 2 to 4: {tple[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 4: (3, 4, 5, 6)

In [39]:
import random


nested_tuple = tuple(tuple(random.randint(1,10) for _ in range(3)) for _ in range(3))
print(nested_tuple)
for row in nested_tuple:
    print(row)

((6, 2, 8), (7, 2, 9), (5, 10, 5))
(6, 2, 8)
(7, 2, 9)
(5, 10, 5)

In [41]:
tuple1 = 1,2,3
tuple2 = 4,5,6

concatenated_tuple = tuple1 + tuple2 
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [44]:
tple = tuple(random.randint(1, 4) for _ in range(10))
print(f"Tuple is: {tple}")
print(tple.count(2))

Tuple is: (1, 3, 3, 2, 2, 2, 4, 2, 1, 3)
4

In [ ]:
tple = 1, 2, 3, 4, 5
var1, var2, var3, var4, var5 = tple
print(var1, var2, var3, var4, var5)

1 2 3 4 5

In [49]:
lst = [random.randint(1,10) for _ in range(10)]
tple = tuple(lst[:5])
print(tple)

(4, 5, 2, 7, 7)

In [52]:
tple = tuple(tuple(random.randint(1,10) for _ in range(3)) for _ in range(3))

for row in tple:
    print(row)

(2, 10, 3)
(6, 1, 5)
(10, 6, 2)

In [58]:
tple = tuple(x for x in range(1,6))
lst = list(tple)
lst.append(6)
print(lst)

tple = tuple(lst)
print(tple)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [61]:
tple = 'a','n','m','o','l'

joined_string= ''.join(tple)
print(joined_string)

anmol

In [66]:
dict = {(1,2,3): 1, (4,5,6): 2}
print(dict)

{(1, 2, 3): 1, (4, 5, 6): 2}

In [68]:
nested_tuple = tuple(tuple(random.randint(1, 10) for _ in range(3)) for _ in range(3))

print(nested_tuple)
for row in nested_tuple:
    for item in row:
        print(item)

((7, 5, 10), (2, 9, 5), (9, 3, 3))
7
5
10
2
9
5
9
3
3

In [69]:
tple = (1,2,3,1,4,2,3,5)
st = set(tple)
print(st)

{1, 2, 3, 4, 5}

In [ ]:
def tuple_function(tpl):
    minimum = tpl[0]
    maximum = tpl[0]
    sum = tpl[0]
    for item in tpl[1:]:
        if(minimum > item):
            minimum = item
        if maximum < item:
            maximum = item

        sum += item
    return {'minimum': minimum, 'maximum': maximum, 'sum': sum}    


tpl1 = (6,5,3,6,3,1,32,5,9,100,45,5)

result = tuple_function(tpl1)
print(result)

{'minimum': 1, 'maximum': 100, 'sum': 220}