In [1]:
my_set = set(range(1,11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
my_set.add(11)
my_set.discard(1)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
set1 = {x for x in range(1, 6)}
set2 = {2 * (x + 1) for x in range(5)}

print(set1)
print(set2)

# Union
print(set1.union(set2))

# Intersection
print(set1.intersection(set2))

# Difference
print(set1.difference(set2))
print(set2.difference(set1))

# Symmetric Difference
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}
{1, 3, 5, 6, 8, 10}

In [4]:
# Set Comprehensions
my_set = {x**2 for x in range(1,11)}
print(my_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [5]:
my_set = set(range(1,11))
new_set = {x for x in my_set if x % 2 == 0}
print(new_set)

{2, 4, 6, 8, 10}

In [6]:
set1 = {x for x in range(1,6)}
set2 = {x for x in range(1,4)}

print(set2.issubset(set1))

True

In [8]:
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [13]:
my_set = {x for x in range(1,6)}
my_list = list(my_set)
my_list.append(6)
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [18]:
d = {
    frozenset({1,2}): 3,
    frozenset({3,4}): 7
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7}

In [19]:
my_set = {1, 2, 3, 4, 5, 6}

for x in my_set:
    print(x)

1
2
3
4
5
6

In [20]:
my_set = {1, 2, 3, 4, 5}

while True:
    if len(my_set) == 0:
        break

    popped_item = my_set.pop()
    print(f"Popped item: {popped_item}")

print(f"Set in the end is: {my_set}")

Popped item: 1
Popped item: 2
Popped item: 3
Popped item: 4
Popped item: 5
Set in the end is: set()

In [21]:
set1 = {
    1,
    2,
    3,
    4,
    5,
    6,
}

set2 = {3, 4, 5, 6, 7, 8, 9, 10}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 7, 8, 9, 10}

In [25]:
my_set = {1,2,3,True,'Hello'}

print(1 in my_set)
print(True in my_set)
print('Hello' in my_set)

True
True
True

In [30]:
my_set = {
    tuple([1,2]),
    tuple([3,4])
}
print(my_set)

{(1, 2), (3, 4)}