In [2]:
nums = {x: x**2 for x in range(1, 11)}
print(nums)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
print(nums.get(5))
print(nums.keys())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [6]:
nums[11] =  11**2
print(nums)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [8]:
for key, value in nums.items():
    print(f"{key}: {value}")

1: 1
2: 4
3: 9
4: 16
5: 25
6: 36
7: 49
8: 64
9: 81
10: 100
11: 121

In [9]:
cubes = {x: x**3 for x in range(1,11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [10]:
dict_1 = {"name": "Anmol", "age": 28}
dict_2 = {"occupation": "Software Engineer", "experience": "4.5 years"}

merged_dict = {**dict_1, **dict_2}
print(merged_dict)

{'name': 'Anmol', 'age': 28, 'occupation': 'Software Engineer', 'experience': '4.5 years'}

In [11]:
student = {
    "name": "Anmol",
    "age": 28,
    "grades": {"math": "A", "science": "B", "english": "A"},
}
print(student)

{'name': 'Anmol', 'age': 28, 'grades': {'math': 'A', 'science': 'B', 'english': 'A'}}

In [12]:
nums = {x: [y * x for y in range(1, 6)] for x in range(1, 6)}
print(nums)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [13]:
dict_1 = {x: (x, x**2) for x in range(1, 6)}
print(dict_1)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [15]:
dict_1 = {x: x**2 for x in range(1,6)}
lst = list(dict_1.items())
print(lst)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [16]:
dict_1 = {x: x**2 for x in range(1, 11)}
dict_2 = {key: value for key, value in dict_1.items() if key % 2 == 0}
print(dict_2)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [17]:
dict_1 = { x: x**2 for x in range(1,6)}
dict_2 = {value: key for key,value in dict_1.items()}
print(dict_2)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [21]:
dict_1 = {f"list{x}": [] for x in range(1,6)}
print(dict_1)
dict_1['list1'].append(1)
dict_1['list2'].append(2)

print(dict_1)

{'list1': [], 'list2': [], 'list3': [], 'list4': [], 'list5': []}
{'list1': [1], 'list2': [2], 'list3': [], 'list4': [], 'list5': []}

In [32]:
def count_character(str):
    lst = list(str)
    counts = {}
    for item in lst:
        counts[item] = counts.get(item,0) + 1
    return counts

my_string = "hello world how are you"

result = count_character(my_string)
print(result)

{'h': 2, 'e': 2, 'l': 3, 'o': 4, ' ': 4, 'w': 2, 'r': 2, 'd': 1, 'a': 1, 'y': 1, 'u': 1}

In [35]:
import json


book = {
    "title": "author",
    "author": "Anmol",
    "year": 2025,
    "genre": "music"
}

a = json.dumps(book)
print(a)

{"title": "author", "author": "Anmol", "year": 2025, "genre": "music"}